.form{
  width: 50vw;
  margin: 0px auto;
  background-color: #fff;
  &__header{
    border-bottom: 1px solid #243565;
    padding: 10px 0;
    & > font{
      margin: 0;
      padding: 0;
      text-align: center;
      font-family: "Montserrat", sans-serif;
        font-size: 1.15rem;
        font-weight: 600;
      & > p {
        margin: 0;
      }
    }
  }
  &__body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    column-gap: 20px;
    & > div{
      flex: 1 0 40%;
      padding: 0 10px;
    }
  }
  &__footer{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    padding: 50px 0;
    &__btn_content_clear, &__btn_content_send{
      flex: 0 1 10%;
      & > button{
        border: none;
        padding: 20px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: .9rem;
        color: #243565;
        cursor: pointer;
      }
    }
    &__btn_content_clear{
      & > button{
        background-color: #f5f6f9;
      }
    }
    &__btn_content_send{
      & > button{
        background-color: #ffdd02;
        &:disabled{
          background-color: rgba($color: #ffdd02, $alpha: .5);
          color: rgba($color: #243565, $alpha: .5);
        }
      }
    }
  }
}
